@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
$family-serif: 'Lato', sans-serif;
$family-primary: $family-serif;


// Colour schemes
$link: #CD365D;
$light: hsl(0, 0%, 96%);
$dark: hsl(0, 0%, 33%);
$white: #fff;


// Spacing 
$spacing-values: ("nav-bar": 100px);

@import "~bulma/bulma.sass";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 18px;
}
.has-no-bg-color {
    background-color: transparent !important;
}

.has-border-light {
    border-color: $light !important;
}

.has-border-dark {
    border-color: $dark !important;
}

.hero {
    position: relative;

    h1 {
        font-weight: 900;
    }

    .background {
        position: absolute;
        object-fit: cover;
        overflow: hidden;
        object-position: center center;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    // Make background darker to make light font more visible
    .background:after {
        content: '\A';
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:#000;
        opacity: 0.2;
    }
    .logo {
        max-width: 300px;

        @include mobile {
            width: 200px;
        }
    }
    .text-overlay {
        z-index: 1;
    }


}

.hero.is-medium {
    .hero-body {
        @include mobile {
            padding-top: 10rem;
        }   
    }    
}

.navbar {
    transition: 1s;
    .navbar-item:hover {
        border: 2px solid $light;
    }
    button {
        border:none;
        background-color: transparent;
    }

} 

.footer {
    .logo {
        max-width: 200px;
    }

    a {
        color: $light;
        text-decoration-line: underline;
    }

    a:hover {
        color: $white;
    }

    .container {   
        @include mobile {
            flex-direction: column;
        }
    }

    .container > div {
        padding: 0 1rem;
        @include mobile {
            margin-bottom: 3rem;
        }
    }

}

.section {
    p {
        padding-bottom: 1rem;
        // font-size: 1.25rem;
    }
}

.card {
    a {
        color: $dark;
    }
    a:hover {
        color: $black;
    }
}

.tweet {
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}



.tabs.is-toggle {
    overflow-x: visible;
    overflow: visible;
    ul {
        row-gap: 0.5rem;
    }
    button {
        font-size: inherit;
        color: $tabs-link-color;
        border-color: $tabs-toggle-link-border-color;
        border-style: $tabs-toggle-link-border-style;
        border-width: $tabs-toggle-link-border-width;
        background-color: transparent;
        margin-bottom: 0;
        position: relative;
        padding: 0.65em 1em; 
    }
    button:hover {
        cursor: pointer;
        background-color: $tabs-toggle-link-hover-background-color;
        border-color: $tabs-toggle-link-hover-border-color;
        z-index: 2; 
    }
    li:first-child button {
        border-top-left-radius: $tabs-toggle-link-radius;
        border-bottom-left-radius: $tabs-toggle-link-radius;
    } 
    li:last-child button{
        border-top-right-radius: $tabs-toggle-link-radius;
        border-bottom-right-radius: $tabs-toggle-link-radius;
    } 

    .is-active button  {
        background-color: $link;
        color: $light;
        border-color: $link;
    }
}






