@charset "utf-8";


// Colour schemes
$link: #5d246b;
$light: hsl(0, 0%, 96%);
$dark: hsl(0, 0%, 21%);
$white: #fff;


// Spacing 
$spacing-values: ("nav-bar": 100px);

@import "~bulma/bulma.sass";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.has-no-bg-color {
    background-color: transparent !important;
}

.has-border-light {
    border-color: $light !important;
}

.has-border-dark {
    border-color: $dark !important;
}

.hero {
    position: relative;

    .background {
        position: absolute;
        object-fit: cover;
        overflow: hidden;
        object-position: center center;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    // Make background darker to make light font more visible
    .background:after {
        content: '\A';
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:#000;
        opacity: 0.5;
    }
    .logo {
        max-width: 300px;
    }
    .text-overlay {
        z-index: 1;
    }


}

.hero.is-medium {
    .hero-body {
        @include mobile {
            padding-top: 10rem;
        }   
    }    
}

.navbar {
    transition: 1s;
    .navbar-item:hover {
        border: 2px solid $light;
    }
} 

.footer {
    .logo {
        max-width: 200px;
    }

    a {
        color: $light;
        text-decoration-line: underline;
    }

    a:hover {
        color: $white;
    }

    .container {   
        @include mobile {
            flex-direction: column;
        }
    }

    .container > div {
        padding: 0 1rem;
        @include mobile {
            margin-bottom: 3rem;
        }
    }

}

.section {
    p {
        padding-bottom: 1rem;
    }
}

.card {
    a {
        color: $dark;
    }
    a:hover {
        color: $black;
    }
}

.tweet {
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}






